<div class="content">
  <div class="panels left_panel">
    <div class="panels_title">
      Items
    </div>
    <form name="itemsFrm" ng-submit="addItem()" class="input_items_form">
      <input name="newItem" ng-model="newItem" required class="form-control form_input">
      <button ng-disabled="itemsFrm.$invalid" ng-click="addItem()" class="btn btn-success add_btn">Add new</button>
    </form>
    <div ng-repeat="item in items" class="new_block">
      <a href="#/" class="new_item">
        {{item.title}}
      </a>
      <button ng-click="deleteItem($index)" type="button" class="btn btn-success del_btn">Delete</button>
    </div>
  </div>
  <div class="panels right_panel">
    <div class="panels_title">
      Comments #
    </div>
    <form name="CommentFrm" ng-submit="onkeyup()" class="form-group">
      <div ng-repeat="comment in comments" class="new_block">
          <span id="square">1</span>
          <span class="new_comment">
            {{comment.comment}}
          </span>
      </div>
      <span id="square">1</span>
      <textarea name="newComment" ng-model="newComment" ng-keypress="($event.charCode==13)? addComment() : return" class="form-control form_area" rows="5"></textarea>
    </form>
</div>