html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
}


a, a:hover, a:focus {
    color: inherit !important;
    text-decoration: none !important;
    transition: all 0.3s !important;
}

/*-------------------------------------
Side bar
-------------------------------------*/
.wrapper {
    width: 25%;
    background: #31364a;
    color: #fff;
    float: left;
    min-height: 900px;
}
.bar_title {
    font-size: 2.3em;
    padding:  25px 20px;
    margin-bottom: 35px;
    color: #82879c;
    overflow: hidden;
}
.nav_item {
    background: #31364a;
    padding: 20px;
    overflow: hidden;
    margin-bottom: 50px;
}

/*------------------------------------
main content
--------------------------------------*/
.content {
    width: 75%;
    float: right;
    padding: 2em;
}
.panels {
    box-shadow: 2px 2px 6px #525252;
    width: 49%;
    padding: 25px 15px;
}
.panels_title {
    font-size: 2.5em;
    overflow: overlay;
    margin-bottom: 20px;
}

/*------------------------------------
Left panel
--------------------------------------*/
.left_panel {
    float: left;
}
.new_block {
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e0dbdb;
}
.new_block:hover {
    border-left: 5px solid #ff4f7a;
    border-radius: 5px;
}
.new_item {
    font-size: 1.4em;
    font-weight: bold;
    vertical-align: middle;
}
.form_input {
    width: 70% !important;
    display: inline-block !important;
    margin-right: 10px;
    margin-bottom: 30px;
}
.add_btn {
    background-color: #48d0bc !important;
    border-radius: 2px !important;
    padding: 6px 25px !important;
}
.del_btn {
    background-color: #ffffff !important;
    border: 2px solid #f92c47 !important;
    color: #f92c47 !important;
    padding: 6px 25px !important;
    vertical-align: middle !important;
    float: right;
    vertical-align: middle;
}

/*------------------------------------
Right panel
--------------------------------------*/
.right_panel {
    float: right;
}
#square {
	color: #e0e0e0;
	width: 5em;
	height: 5em;
	background: #e0e0e0;
	display: inline-block;
}
.form_area {
    width: 75% !important;
    float: right;
}
.new_comment {
    font-size: 1em;
}
